<div class="panel-group">
  <%= link_to_remote_modal 'Add List', new_content_item_path(type: 'List') %>
  <% @lists.each do |list| %>
    <%= render 'lists', list: list, list_items: list.list_items.filter_deleted %>
  <%end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6"><b><span class="list_title">List items with trashed Lists</span></b>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% if @dangling_list_items.present? %>
            <% @dangling_list_items.each do |list_item| %>
              <li class="list-group-item" id="list_item_<%=list_item.id %>">
                <%= render 'content_items/list_item', list_item: list_item %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>